h2 {
  color: tomato;

}


.card-title {


  text-align: center;
}

.card-title1 {
  margin-left: 20px;

}

.right-card {
  margin-left: 19px;

}

.info {

  margin-left: 200px;


  word-spacing: 10px;
  color: black;
  padding-bottom: 30px;

}
