h2 {
  color: tomato;

}


.card-title , .card-text {


  text-align: center;
}



.right-card {
  margin-left: 19px;

}

.info {

  margin-left: 200px;


  word-spacing: 10px;
  color: black;
  padding-bottom: 30px;

}

.btn {
  margin-left: 120px;
}
