h2 {
  color: tomato;

}

.dropdown-menu {

  background-color: #343a40;
}

.dropdown-item {
  color: white;
}

.nav-link {color: white}




.card-title , .card-text {


  text-align: center;
}



.right-card {
  margin-left: 19px;

}

.info {

  margin-left: 200px;


  word-spacing: 10px;
  color: black;
  padding-bottom: 30px;

}

.btn {
  margin-left: 120px;
}
